chordparser==0.4.2
fire==0.7.0
gradio==5.15.0
huggingface_hub==0.28.1
hydra-core==1.3.2
librosa==0.10.2.post1
mir_eval @ git+https://github.com/mir-evaluation/mir_eval.git@1fed5327e2a65c3294579beafa03a6498b4da3d0
music21==9.3.0
numpy==1.26.4
numba==0.60.0
llvmlite==0.43.0
nnAudio==0.3.1
omegaconf==2.3.0
pandas==2.2.3
Pillow==11.1.0
pretty_midi==0.2.10
pytorch_lightning==2.4.0
PyYAML==6.0.1
Requests==2.32.3
scikit_learn==1.6.1
spotipy==2.24.0
torch==2.3.1
torch_optimizer==0.3.0
torchaudio==2.3.1
torchmetrics==1.4.1
tqdm==4.66.5
transformers==4.44.0
utils==1.0.2
